@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --blueLight: #3498db;
  --transition: width 0.5s;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  border: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
section,
footer {
  margin: 20px;
  padding: 20px;
  border: 1px solid #cccccc;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #0000ff;
}

footer {
  text-align: center;
}

.password_form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.line {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 10px;
  background: #e9edef;
  border-radius: 5px;
  overflow: hidden;
}

.fill {
  position: absolute;
  z-index: 1;
  width: 0; /* Initial width */
  height: 100%;
  border-radius: 5px;
  transform-origin: left;
  transition: var(--transition);
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.blue {
  background: var(--blueLight);
}

/* Style par défaut pour les cases à cocher */
.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  cursor: pointer;
}

/* Style pour les cases cochées */
.checkbox:checked {
  background: var(--blueLight);
}

.form_section {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

/* barre de taille du mot de passe */

.input-number {
  display: none;
}

.range-bar {
  display: flex;
  height: 10px;
  background: #e9edef;
  border-radius: 5px;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.bar-fill {
  background-color: #3498db;
  height: 100%;
  width: 0;
  transition: width 0.5s;
}

.checkbox-div {
  display: flex;
  align-items: center;
}

.slider {
  width: 90%;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
}

.password-length {
  width: 10%;
}
